.about {
  width: 100%;
  color: #626262;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  &-left {
    width: 50%;
    background-color: #fcfcfc;
    min-height: 100vh;
    padding-top: 40px;
    padding-right: 75px;
    // padding: 30px 85px 53px 30px;
    &-box {
      max-width: 515px;
      margin-left: auto;
      &-icon {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        &-right {
          margin-left: auto;
          margin-top: 0;
          cursor: pointer;
        }
        .el-logo1 {
          font-size: 30px;
          color: $primary-color;
        }
      }
      &-head {
        display: flex;
        align-items: center;
        color: #1f1f24;
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-bottom: 10px;
        span {
          margin-left: 20px;
        }
      }
      .bass-h1 {
        color: #1f1f24;
        font-size: 55px;
        line-height: 1.127;
        margin-bottom: 21px;
      }
      .award-list {
        margin-bottom: 33px;
      }
      .award-list a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px solid #e0e3ed;
        // padding: 10px 0;
        &:first-child {
          border-top: none;
        }
      }
      .award-list .logo-hold {
        margin-right: 11px;
        .iconfont {
          color: #1f1f24;
          font-size: 30px;
        }
      }
      .award-list .caption {
        flex: 1;
        font-size: 16px;
        color: #626262;
      }
      .logo-row .title {
        font-size: 18px;
        font-weight: 500;
        color: #7856ff;
        display: block;
        margin-bottom: 20px;
      }
      .logo-row .logo-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -15px;
      }
      .logo-row .logo-list a {
        padding: 0 15px;
        margin-bottom: 30px;
        .iconfont {
          color: #1f1f24;
          font-size: 30px;
        }
      }
    }
  }
  &-right {
    width: 50%;
    background-color: $primary-color;
    min-height: 100vh;
    padding-top: 40px;
    padding-left: 75px;
    // padding: 53px 30px 50px 79px;
    &-box {
      width: 100%;
      max-width: 560px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .about-right-textarea {
        background: #fff;
        border-radius: 6px;
        padding: 37px 26px;
        width: 430px;
        .el-textarea__inner {
          height: 100px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      &-text {
        padding-top: 10px;
        a {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  &-five {
    padding-bottom: 50px;
    background-color: #fff;
    color: #1e1e1e;
    &-title {
      font-size: 36px;
      font-weight: 900;
      text-align: left;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &-content {
      white-space: pre-line;
      font-size: 16px;
    }
    .el-timeline-item__timestamp {
      font: 18px/1.778 "Untitled Sans Light", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      color: #37383c;
      font-weight: bolder;
    }
  }
  /* &-five {
    padding-bottom: 50px;
    background-color: #fff;
    color: #1e1e1e;
    &-title {
      font-size: 36px;
      font-weight: 900;
      text-align: left;
      padding-top: 50px;
      padding-bottom: 50px;
      &-small {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    &-content {
      display: flex;
      justify-content: space-between;

      &-item {
        text-align: center;
        flex: 1;
        &:not(:last-child) {
          border-right: 1px solid #244234;
        }
        &-img {
          width: 100px;
          height: 100px;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-text {
        margin: 30px;
      }
    }
    &-img {
      width: 270px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
      &-left {
        float: right;
        margin-right: 10%;
      }
      &-right {
        margin-left: 10%;
      }
    }
    &-text {
      margin-top: 30px;
      &__title {
        font-weight: bolder;
      }
      p {
        span {
          position: relative;
          letter-spacing: -1px;
          &::before {
            content: "";
            display: block;
            background-color: rgba(#f2ac34, 0.5);
            height: 5px;
            width: 100%;
            position: absolute;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  } */
}
