.develop {
  width: 100%;
  background-color: $primary-color;
  .el-tabs__item {
    color: #fff;
    &:hover {
      color: #f3ac34;
    }
  }
  .el-tabs__item.is-active {
    color: #f3ac34;
  }
  .el-tabs__active-bar {
    background-color: #f3ac34;
    &:hover {
      background-color: #f3ac34;
    }
  }
  &-center {
    text-align: center;
    background-color: #fcfcfc;
    color: #1f1f24;
    p {
      margin: 0;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 1.127;
    margin-bottom: 20px;
    .title-h4 {
      margin-bottom: 0;
    }
    &-icon {
      font-size: 35px;
      color: #f3ac34;
      margin-right: 15px;
      margin-top: 10px;
    }
  }
  &-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &-item {
      width: 25%;
      &-icon {
        text-align: center;
        background: #335746;
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 20px;
      }
      .iconfont {
        font-size: 80px;
        color: #f3ac34;
      }
      p {
        text-align: left;
      }
    }
  }
  &-white-bottom {
    padding: 0 38px 37px;
    color: #f3ac34;
    display: block;
  }
  &-white-text {
    margin-bottom: 30px;
  }
  &-discuss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    img {
      width: 90px;
      margin-right: 10px;
    }
    &-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        margin-right: 20px;
      }
      &-line {
        flex: 1;
        border-bottom: 2px dashed #dad6f5;
      }
    }
  }
  &-wonder {
    width: 100%;
    margin-bottom: 50px;
    &-item {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background: rgba(255, 255, 255, 0.39);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
      opacity: 1;
      border-radius: 20px;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover {
        background: #fff;
        box-shadow: 0 0 12px rgb(31 31 36 / 16%), 0 4px 48px rgb(31 31 36 / 8%);
      }
      &-left {
        width: 15%;
        img {
          width: 120px;
          border-radius: 50%;
        }
      }
      &-middle {
        width: 65%;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        & > * {
          width: 100%;
        }
        &-box {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .el-button {
            color: #f3ac34;
            border: 1px solid #f3ac34;
            padding: 0px 20px;
            height: 30px;
            line-height: 30px;
            margin-left: 20px;
          }
        }
        &-bottom {
          display: flex;
          align-items: center;
          span {
            margin-right: 10px;
            font-weight: bolder;
            font-size: 14px;
          }
          &-name {
            color: #715df2;
            margin-right: 10px;
            &:hover {
              color: #f3ac34;
            }
          }
          &-item {
            display: flex;
            align-items: center;
          }
          &-time {
            margin-right: 10px;
          }
          &-auto {
            margin-left: auto;
          }
          .iconfont {
            color: #715df2;
            margin-left: 30px;
            margin-right: 10px;
          }
          .el-Block {
            font-size: 20px;
          }
        }
      }
      &-right {
        width: 15%;
        &-replies {
          color: #999;
          font-size: 16px;
          text-align: right;
        }
        &-join {
          display: block;
          color: #f3ac34;
          margin-top: 70px;
        }
      }
    }
    .title-h6 {
      font-size: 24px;
      line-height: 30px;
    }
    .title-h7 {
      font-size: 18px;
      font-weight: bolder;
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &-bugs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
    background: rgba(246, 246, 246, 0.39);
    &-left {
      width: 70%;
      margin-right: 20px;
      &-box {
        width: 100%;
        border-right: 1px solid #999;
        margin-bottom: 40px;
      }
    }
    &-right {
      width: 30%;
      overflow-y: auto;
      min-height: 500px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(153, 153, 153, 0.39);
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        background: rgba(255, 255, 255, 0.39);
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &-text {
        color: #707070;
        font-size: 16px;
      }
      .el-collapse {
        border-top: none;
        border-bottom: none;
        .el-collapse-item__header {
          border-bottom: none;
          background: transparent;
          height: auto;
          line-height: 20px;
          align-items: flex-start;
          padding: 20px 0;
        }
        .el-collapse-item__arrow {
          width: 30px;
          font-size: 20px;
          font-weight: 500;
        }
        .el-collapse-item__wrap {
          background-color: transparent;
          border-bottom: none;
        }
      }
      &-header {
        width: calc(100% - 30px);
        &-name {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          color: #707070;
          font-size: 16px;
          width: 100%;
          font-weight: 500;
          span:first-child {
            margin-right: 10px;
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 20px;
            margin-right: 30px;
          }
        }
        &-content {
          font-size: 14px;
        }
      }
    }
    &-item {
      border-bottom: 1px solid #999;
      width: 100%;
      padding: 20px 20px 20px 0;
      &-title {
        display: flex;
        align-items: center;
        span:first-child {
          margin-right: 20px;
        }
        .el-guize1 {
          color: #f3ac34;
          font-size: 20px;
          margin-right: 10px;
        }
      }
      &-even,
      &-odd {
        background: rgba(255, 255, 255, 0.39);
        box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
        border-radius: 20px;
        padding: 20px;
        cursor: pointer;
        &:hover {
          background: #fff;
          box-shadow: 0 0 12px rgb(31 31 36 / 16%), 0 4px 48px rgb(31 31 36 / 8%);
        }
      }
      &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-textarea {
          width: 75%;
          &-bottom {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
          }
          &-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
          }
          &-level {
            margin-right: 10px;
          }
        }
        &-right {
          width: 15%;
          .iconfont {
            color: #715df2;
          }
        }
      }
    }
    &-box {
      width: 100%;
      &-item {
        border-bottom: 1px solid #ebeef5;
        margin: 10px 20px;
        &-content {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &-textarea .el-textarea__inner {
    height: 150px;
    margin-bottom: 10px;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: thin;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(153, 153, 153, 0.39);
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 0;
      background: rgba(255, 255, 255, 0.39);
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
  &-honor {
    margin: auto;
    margin-bottom: 50px;
    .swiper-container {
      z-index: 0;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding-bottom: 50px;
    }
    .mobile .swiper-slide {
      width: 80%;
    }
    .computer .swiper-slide {
      width: 320px;
    }
    .swiper-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      transition: 300ms;
      transform: scale(0.8);
      height: 450px;
      background-image: linear-gradient(#dbc9a2, #465956);
      color: rgba($color: #707070, $alpha: 0.8);
      border-radius: 20px;
      display: flex;
      align-items: center;
      &-content {
        text-align: center;
        padding: 20px;
        .title-h6 {
          margin: 30px 0;
        }
        &-img {
          width: 40px;
          height: 40px;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        &-text {
          font-size: 16px;
          font-weight: bolder;
        }
      }
    }
    .swiper-slide.swiper-slide-active {
      background-image: linear-gradient(#fddfbd, #fdefc5);
      color: #707070;
    }
    .swiper-img {
      width: 100%;
    }
    .swiper-container .swiper-pagination {
      bottom: 0;
      z-index: 100;
    }
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .swiper-button-prev {
      background-image: url("../../assets/images/develop-left.png");
    }
    .swiper-button-next {
      background-image: url("../../assets/images/develop-right.png");
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 20px;
      height: 30px;
      right: 10px;
      left: auto;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 20px;
      height: 30px;
      left: 10px;
      right: auto;
    }
    .swiper-pagination-bullet-active {
      background: #f3ac34;
    }
    &-person {
      padding: 50px 0;
      display: flex;
      flex-wrap: wrap;
      &-item {
        width: 30%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:nth-child(even) {
          margin: 0 5%;
        }
        &-img {
          width: 50px;
          img {
            border-radius: 50%;
          }
        }
        &-text {
          margin-left: 10px;
          p {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: bolder;
            .iconfont {
              margin: 0 5px;
              color: #715df2;
              font-size: 14px;
            }
          }
        }
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      img {
        width: 25%;
        &:first-child {
          width: 13%;
        }
        &:nth-child(2) {
          width: 22%;
        }
        &:last-child {
          width: 13%;
        }
      }
    }
  }
  &-ecosytems {
    .title-h6 {
      letter-spacing: 4px;
      line-height: 2em;
      font-size: 24px;
      white-space: pre-wrap;
    }
  }
}
.dialog.el-dialog {
  background: transparent;
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__headerbtn {
    top: 70px;
    z-index: 100000;
    .el-icon-close {
      font-size: 20px;
    }
  }
  .info-modal-box {
    max-width: 950px;
    margin: 30px auto;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10 rgba(55, 56, 60, 0.16), 0 0 4px rgba(55, 56, 60, 0.48);
    position: relative;
    min-height: 482px;
    color: #626266;
    background: #fcfcfc;
  }
  .info-modal-box .left-col {
    width: 318px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $primary-color;
    padding: 20px;
    color: #fcfcfc;
    font-size: 16px;
    line-height: 1.5625;
  }
  .info-modal-box .frame {
    width: 100%;
  }
  .info-modal-box .avatar-wrap {
    width: 125px;
    height: 125px;
    border-radius: 999px;
    margin: 0 auto 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-modal-box .name {
    display: block;
    font: 700 18px/1.778 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: -3px;
  }
  .info-modal-box .post {
    display: block;
    letter-spacing: 0;
  }
  .info-modal-box .right-col {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: #fcfcfc;
    letter-spacing: 0.03em;
  }
  .social-networks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .social-networks a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #7856ff;
    line-height: 50px;
  }
  .el-linkedin {
    color: #7856ff;
    border-color: #7856ff;
    font-size: 20px;
  }
}
