.develop {
  width: 100%;
  background-color: $primary-color;
  .el-tabs__item {
    color: #fff;
    &:hover {
      color: #f3ac34;
    }
  }
  .el-tabs__item.is-active {
    color: #f3ac34;
  }
  .el-tabs__active-bar {
    background-color: #f3ac34;
    &:hover {
      background-color: #f3ac34;
    }
  }
  &-center {
    text-align: center;
    background-color: #fcfcfc;
    color: #1f1f24;
    p {
      margin: 0;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 1.127;
    margin-bottom: 20px;
    .title-h4 {
      margin-bottom: 0;
    }
    &-icon {
      font-size: 35px;
      color: #f3ac34;
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}
.dialog.el-dialog {
  background: transparent;
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__headerbtn {
    top: 70px;
    z-index: 100000;
    .el-icon-close {
      font-size: 20px;
    }
  }
  .info-modal-box {
    max-width: 950px;
    margin: 30px auto;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10 rgba(55, 56, 60, 0.16), 0 0 4px rgba(55, 56, 60, 0.48);
    position: relative;
    min-height: 482px;
    color: #626266;
    background: #fcfcfc;
  }
  .info-modal-box .left-col {
    width: 318px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $primary-color;
    padding: 20px;
    color: #fcfcfc;
    font-size: 16px;
    line-height: 1.5625;
  }
  .info-modal-box .frame {
    width: 100%;
  }
  .info-modal-box .avatar-wrap {
    width: 125px;
    height: 125px;
    border-radius: 999px;
    margin: 0 auto 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-modal-box .name {
    display: block;
    font: 700 18px/1.778 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: -3px;
  }
  .info-modal-box .post {
    display: block;
    letter-spacing: 0;
  }
  .info-modal-box .right-col {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: #fcfcfc;
    letter-spacing: 0.03em;
  }
  .social-networks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .social-networks a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #7856ff;
    line-height: 50px;
  }
  .el-linkedin {
    color: #7856ff;
    border-color: #7856ff;
    font-size: 20px;
  }
}
