.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  .el-logo1 {
    font-size: 35px;
  }
  .el-menu.el-menu--horizontal {
    border: none;
    background-color: transparent !important;
  }
  .el-menu-item,
  .el-submenu__title {
    font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    color: #fff !important;
    line-height: 60px;
  }
  .el-submenu__title:hover,
  .el-submenu__title:focus,
  .el-menu-item:focus,
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 2px solid transparent !important;
    color: #f3ac34 !important;
    //border-bottom: none !important;
  }
  .el-menu--horizontal > .el-submenu:focus .el-submenu__title,
  .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
    color: #8c8c90 !important;
  }
  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border-bottom: 2px solid transparent !important;
    color: #f3ac34 !important;
  }
  .el-submenu__icon-arrow {
    display: none;
  }
  &-index {
    width: 106px;
    &-img {
      width: 65px;
    }
    img {
      width: 100%;
    }
  }
  .el-translate {
    font-size: 25px;
    color: #fff;
  }
  &-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &-title {
      color: #9e9e9e;
      margin-bottom: 20px;
      line-height: 1.5em;
    }
    &-item {
      width: 350px;
      margin-right: 20px;
      &-content {
        display: flex;
        padding: 10px;
        width: 350px;
        white-space: normal;
        &-title {
          color: #9e9e9e;
          font: 700 13px/1 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
          letter-spacing: 0.1em;
          margin-left: 10px;
          width: calc(100% - 35px);
          word-break: break-word;
          flex-shrink: 0;
          &-text {
            font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
            color: #fcfcfc;
            margin-bottom: 5px;
            font-weight: 700;
            letter-spacing: -0.03em;
            width: 100%;
            word-break: break-word;
            line-height: 1.5em;
            &-small {
              font: 400 13px/2 "Untitled Sans Regular", "Helvetica Neue", Helvetica, sans-serif;
              margin-top: -5px;
              color: #8c8c90;
              letter-spacing: -0.03em;
              width: 100%;
              line-height: 1.5em;
            }
          }
        }
        &-img {
          width: 25px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .btn-primary {
    padding: 10px 20px;
  }
}
.nav-white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  .el-logo1 {
    font-size: 35px;
  }
  .el-menu.el-menu--horizontal {
    border: none;
    background-color: transparent !important;
  }
  .el-menu-item,
  .el-submenu__title {
    font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    color: #37383c !important;
    line-height: 60px;
  }
  .el-submenu__title:hover,
  .el-submenu__title:focus,
  .el-menu-item:focus,
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 2px solid transparent !important;
    color: #f3ac34 !important;
    //border-bottom: none !important;
  }
  .el-menu--horizontal > .el-submenu:focus .el-submenu__title,
  .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
    color: #8c8c90 !important;
  }
  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border-bottom: 2px solid transparent !important;
    color: #f3ac34 !important;
  }
  .el-submenu__icon-arrow {
    display: none;
  }
  &-index {
    width: 106px;
    &-img {
      width: 65px;
    }
    img {
      width: 100%;
    }
  }
  .el-translate {
    font-size: 25px;
    color: #fff;
  }
  &-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &-title {
      color: #9e9e9e;
      margin-bottom: 20px;
      line-height: 1.5em;
    }
    &-item {
      width: 350px;
      margin-right: 20px;
      &-content {
        display: flex;
        padding: 10px;
        width: 350px;
        white-space: normal;
        &-title {
          color: #9e9e9e;
          font: 700 13px/1 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
          letter-spacing: 0.1em;
          margin-left: 10px;
          width: calc(100% - 35px);
          word-break: break-word;
          flex-shrink: 0;
          &-text {
            font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
            color: #fcfcfc;
            margin-bottom: 5px;
            font-weight: 700;
            letter-spacing: -0.03em;
            width: 100%;
            word-break: break-word;
            line-height: 1.5em;
            &-small {
              font: 400 13px/2 "Untitled Sans Regular", "Helvetica Neue", Helvetica, sans-serif;
              margin-top: -5px;
              color: #8c8c90;
              letter-spacing: -0.03em;
              width: 100%;
              line-height: 1.5em;
            }
          }
        }
        &-img {
          width: 25px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .btn-primary {
    padding: 10px 20px;
  }
}
.nav-link {
  font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  &-middle {
    margin-right: 30px;
  }
}
.el-menu--horizontal .nav-child .el-menu-item.is-active {
  .nav-child-item-content-img i {
    color: #fff;
  }
}
.nav-right {
  display: flex;
  align-items: center;
  .el-icon-orange {
    cursor: pointer;
    font-size: 20px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #fff;
  }
  &-dropdown {
    margin-top: 10px;
    // margin-right: 30px;
    //  border-right: 2px solid #8c8c90;
    //padding-right: 30px;
  }
  .el-dropdown-link {
    display: inline-block;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
  .btn-primary {
    text-align: center;
    min-width: 120px;
  }
}
.nuxt-link-exact-active {
  color: #e6dede;
}
.el-menu--horizontal .el-menu .el-menu-item.el-menu-nav-item {
  height: auto;
  line-height: 1.5em;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.el-dropdown-menu__item {
  color: #fff !important;
  padding: 5px 20px !important;
  border-radius: 8px;
  &:hover {
    background-color: rgb(33, 56, 46) !important;
    color: #fff !important;
  }
}
.el-menu-item {
  .nav-child-item-content-img i {
    font-size: 25px;
    color: $btn-color;
  }
  &:hover {
    .nav-child-item-content-img i {
      color: #fff;
    }
  }
}
.subMenu--horizontal {
  top: 123px !important;
  left: calc(calc(100vw - 1152px) / 2) !important;
  .el-menu.el-menu--popup {
    border: 1px solid #8f8989;
    box-shadow: 0 0 2px rgb(0 0 0 / 80%), 0 4px 12px rgb(0 0 0 / 36%), inset 0 0 0 0.5px rgb(237 237 237 / 36%);
    border-radius: 20px;
    background-color: $primary-color;
    .el-menu-item {
      background-color: transparent;
      &:hover {
        background-color: #24382e;
      }
    }
  }
}
.news--horizontal {
  top: 123px !important;
  left: calc(calc(100vw - 1152px) / 2) !important;
  .el-menu--popup {
    box-shadow: inset 0 0 0 0.5px rgb(114 111 111 / 20%), 0 0 15px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background-color: #fff;
  }
  .nav-child-item-content-title-text,
  .nav-child-title {
    color: #37383c;
  }
  .nav-child-item-content-title-text {
    font-weight: 500;
  }
  .nav-child .el-menu-item.is-active .nav-child-item-content-img i {
    color: $primary-color;
  }
  .el-menu-item {
    .nav-child-item-content-img i {
      font-size: 25px;
      color: $btn-color;
    }
    &:hover {
      .nav-child-item-content-img i {
        color: $primary-color;
      }
    }
  }
}
.nav-logo {
  a.nav-active-link i.iconfont {
    color: #274235;
  }
}
a.nav-active-link {
  color: #f3ac34 !important;
  opacity: 1;
  border-radius: 10px;
  i.iconfont {
    color: #fff;
  }
  .el-dropdown-span {
    color: #f3ac34 !important;
    font-size: 16px;
  }
}
/* moblie */
.m-nav {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  &-icon {
    height: 75px;
    line-height: 75px;
    display: flex;
    align-items: center;
    .nav-right-dropdown {
      margin-right: 20px;
      margin-top: 0;
    }
  }
  .el-logo1 {
    font-size: 25px;
  }
  .el-a-FunctionBox {
    font-size: 18px;
  }
  .el-icon-close {
    font-size: 25px;
  }
  &-aside {
    width: 0;
    height: calc(100vh - 75px);
    position: absolute;
    background-color: $primary-color;
    right: 0;
    top: 75px;
    z-index: 1000;
    transition: width 1s;
    display: flex;
    font: 700 13px/1 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
    &-content {
      width: 50%;
      background-color: $primary-color;
      height: 100vh;
      margin-left: auto;
    }
    &-top {
      height: 80px;
      display: flex;
      align-items: center;
      padding: 20px;
      i {
        font-size: 25px;
        margin-left: auto;
      }
    }
    &-link {
      a {
        color: #fff;
        display: block;
        height: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .nav-active-link {
        color: $primary-color;
        font-weight: 550;
      }
    }
    &-title {
      width: 100%;
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: 700;
      &-single {
        width: 100%;
        color: #fff;
        display: block;
        font-size: 18px;
        font-weight: 700;
        height: 60px;
        line-height: 60px;
      }
    }
    &-box {
      margin-bottom: 10px;
      .iconfont {
        font-size: 20px;
        color: #f3ac34;
      }
      &-label {
        color: #9e9e9e;
        font: 700 15px/1 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      &-content {
        display: flex;
        white-space: normal;
        align-items: center;
        margin-bottom: 15px;
        &-title {
          letter-spacing: -0.03em;
          color: #fcfcfc;
          font-weight: 700;
          display: block;
          line-height: 2em;
          margin-bottom: 5px;
        }
        &-text {
          font: 400 12px/2 "Untitled Sans", "Helvetica Neue", Helvetica, sans-serif;
          margin-top: -5px;
          color: #9e9e9e;
          line-height: 1.2em;
        }
      }
      &-other {
        margin-left: 10px;
      }
    }
  }
  &-width {
    width: 100%;
  }
  .el-collapse {
    width: 100%;
    padding: 18px 25px;
    border-top: none;
    border-bottom: none;
    height: 100%;
    font: 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: auto;
    position: relative;
    .el-collapse-item {
      border-bottom: 2px solid rgba(252, 252, 252, 0.1);
    }
    .el-collapse-item__header {
      background-color: transparent;
      color: #fcfcfc;
      height: 60px;
      line-height: 60px;
      border-bottom: none;
      .el-collapse-item__arrow {
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .el-collapse-item__wrap {
      background-color: transparent;
      border-bottom: none;
    }
    .el-collapse-item__content {
      color: #fcfcfc;
    }
  }
  &-login {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 2px solid #c4c4c4;
    height: 150px;
    display: flex;
    justify-content: space-between;
    .nav-link {
      margin-left: 25px;
      border: 2px solid #c4c4c4;
      padding: 4px 0;
      min-width: 120px;
      text-align: center;
      border-radius: 8px;
      height: 44px;
      margin-top: 20px;
      &-head {
        margin-left: 25px;
        margin-top: 20px;
        img {
          width: 48px;
          border-radius: 50%;
        }
        &-out {
          display: flex;
          margin-right: 25px;
          align-items: center;
          border: 2px solid #c4c4c4;
          height: 44px;
          min-width: 120px;
          border-radius: 8px;
          font-weight: normal;
          justify-content: center;
          margin-top: 20px;
          .el-out {
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }
    }
    &-item {
      justify-content: flex-start;
      & > * {
        height: 40px;
        margin-top: 20px;
        margin-left: 25px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
.global .m-nav-aside .m-nav-login-item a.nav-login-primary {
  width: 120px;
  text-align: center;
  margin-left: 40px;
  border-radius: 8px;
  color: #fff !important;
}
.nav-link-head-box {
  display: flex;
  align-items: center;
  img {
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
  }
  span {
    font-size: 18px;
  }
  .el-out {
    font-size: 18px;
  }
}
.nav-join {
  display: flex;
  align-items: center;
  .btn-primary {
    color: #fff !important;
  }
}
.cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 0;
  background-color: #323232;
  color: #bebebe;
  h4 {
    color: #fff;
    font-size: 20px;
  }
  p {
    margin-bottom: 10px;
  }
  .btn-lime {
    background-color: #f3ac34;
    padding: 15px 30px;
  }
  .cookie-agree {
    margin-top: 20px;
  }
}
