.login {
  background: url("../images/login/login.png") center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 50px;
  h6 {
    margin-bottom: 0;
  }
  &-text {
    letter-spacing: 2px;
    padding: 30px 0;
  }
  &-btn {
    color: #fff;
    background: #4c96e3;
    padding: 12px 40px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 150px;
    .iconfont {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  &-rules {
    text-decoration: underline;
    cursor: pointer;
  }
  .title-h6 {
    white-space: pre;
  }
}
.personal {
  color: #37383c;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  &-score {
    .title-h6 {
      margin-bottom: 0;
    }
    &-text {
      color: #37383c;
      margin-bottom: 30px;
      &-link {
        color: #f3ac30;
        &-text {
          color: #37383c;
          margin-right: 5px;
          font-weight: bolder;
          display: inline-block;
        }
      }
      .el-icon-arrow-right {
        font-weight: bold;
      }
    }
    &-link {
      color: #f3ac30;
      font-weight: bolder;
      margin-left: 20px;
    }
    .el-icon-arrow-right {
      font-size: 18px;
    }
  }
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
  }
  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }
  .el-tabs__active-bar {
    background-color: #264234;
    height: 2px;
  }
  .el-tabs__item {
    font-size: 16px;
  }
  .el-tabs__item.is-active {
    color: #37383c;
    font-weight: 500;
    font-size: 18px;
  }
  .el-tabs__item:hover {
    color: #37383c;
  }
  &-tabs {
    &-task {
      margin-top: 50px;
      padding: 15px 15px 15px 40px;
      background-color: #fff;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: relative;
      border-radius: 18px;
      transition: box-shadow 0.1s ease-out, box-shadow 0.1s ease-out;
      &:hover {
        box-shadow: 0 0 12px rgb(31 31 36 / 16%), 0 4px 48px rgb(31 31 36 / 8%);
      }
      &-show {
        position: absolute;
        background: #f3ac30;
        color: #fff;
        left: 20px;
        top: 10px;
        padding: 0 10px;
        border-radius: 5px;
        font-weight: normal;
      }
      &-btn {
        text-align: center;
        .el-pagination {
          margin: 30px 0;
        }
        .el-pagination.is-background .el-pager li:not(.disabled).active {
          background-color: #f3ac30;
        }
      }
      &-finish {
        width: 30px;
      }
      .el-icon-arrow-right {
        font-weight: bold;
      }
      &-left {
        font-size: 18px;
        color: #37383c;
        &:hover {
          color: #f3ac30;
        }
        &-bottom {
          text-align: right;
        }
      }
      &-middle {
        width: 55%;
        a {
          color: #4c96e3;
        }
      }
      &-right {
        width: 20%;
        img {
          vertical-align: bottom;
          border-radius: 18px;
        }
      }
    }
    &-points {
      margin-top: 50px;
      padding: 30px 50px;
      &-img {
        text-align: center;
        img {
          width: 200px;
        }
      }
      .title-h6 {
        margin-bottom: 0;
        text-align: center;
        line-height: 30px;
      }
    }
    &-record {
      margin-top: 50px;
      font-size: 18px;
      font-weight: 500;
      &-img {
        text-align: center;
        img {
          width: 300px;
        }
      }
      &-box {
        /*  background-color: #fff;
        padding: 30px;
        border-radius: 18px;
        margin-bottom: 30px;
        box-shadow: 0 0 12px rgb(31 31 36 / 16%), 0 4px 48px rgb(31 31 36 / 8%); */
      }
      &-head {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        font-weight: normal;
        border-bottom: 1px solid #ddd;
        align-items: center;
        & > * {
          flex: 1;
          &:first-child {
            text-align: left;
          }
          &:nth-child(2) {
            text-align: center;
          }
          &:last-child {
            text-align: right;
          }
        }
        &-text {
          font-size: 16px;
        }
      }
    }
  }
  &-rules {
    margin-top: 50px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 18px;
    margin-bottom: 30px;
    box-shadow: 0 0 12px rgb(31 31 36 / 16%), 0 4px 48px rgb(31 31 36 / 8%);
    &-box {
      display: flex;
      margin-top: 30px;
    }
    .title-h7 {
      font-size: 20px;
      line-height: 1.3333em;
      font-weight: 450;
      text-transform: none;
    }
    p {
      color: #707070;
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 1.3333em;
      letter-spacing: 0.5px;
    }
    &-left {
      width: 20%;
      margin-left: 5%;
    }
    &-right {
      width: 60%;
      margin-left: 10%;
      &-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-link {
        color: #4c96e3;
        a {
          margin-right: 5px;
          &:not(:first-child) {
            margin-left: 5px;
          }
        }
      }
    }
    a {
      color: #4c96e3;
    }
    strong {
      color: #f3ac30;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
.link-btn {
  background-color: #f3ac30 !important;
  border-color: #f3ac30 !important;
}

.el-button:hover {
  background-color: #f5ecdc !important;
  border-color: #f3ac30 !important;
  color: #f3ac30 !important;
}
