.user {
  width: 100%;
  // padding-left: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba($color: #264234, $alpha: 0.2);
  &-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  &-left {
    min-width: 150px;
    margin-right: 7%;
    &-head {
      width: 50px;
      display: block;
      margin-bottom: 20px;
    }
    &-info {
      margin-bottom: 5vh;
      &-item {
        color: #999;
        margin-bottom: 5px;
      }
    }
    &-link {
      font-weight: 500;
      color: #707070;
      &-personal {
        font-size: 25px;
        font-weight: 510;
      }
      &-title {
        font-size: 20px;
        font-weight: 510;
        margin-bottom: 10px;
      }
      a {
        color: #707070;
      }
      &-small {
        font-size: 14px;
        margin-bottom: 10px;
      }
      &-box {
        display: flex;
        &-left {
          width: 2px;
          background-color: rgba(112, 112, 112, 0.2);
          margin-right: 20px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 2px;
            height: var(--height);
            transition: height 1s;
            background-color: #f3ac34;
          }
          &::before {
            content: "";
            opacity: var(--isShow);
            position: absolute;
            display: block;
            left: -4px;
            width: 0px;
            height: 0px;
            top: var(--top);
            transition: opacity 1s;
            transition: top 1s;
            border-right: 8px solid transparent;
            border-top: 8px solid #f3ac34;
            border-left: 8px solid #f3ac34;
            border-bottom: 8px solid #f3ac34;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }
  &-right {
    flex: 1;
  }
  &-center {
    width: 100%;
    &-box {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd;
    }
    &-share {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-img {
        width: 30px;
        margin-right: 10px;
      }
      &-text {
        color: #707070;
        font-weight: bold;
        display: inline-block;
      }
      &-box {
        position: relative;
        width: calc(100% - 80px);
        border-right: 2px solid rgba(112, 112, 112, 0.2);
      }
      &-left {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        cursor: pointer;
        &-img {
          width: 50px;
          margin-right: 10px;
        }
        &-text {
          color: #999;
        }
        &-link {
          position: relative;
          .btn {
            position: absolute;
            right: 30px;
            bottom: -10px;
            padding: 10px 20px;
          }
        }
        &-btn {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          .btn {
            padding: 10px 20px;
          }
        }
        &-span {
          margin-bottom: 10px;
          color: #999;
          padding-left: 45px;
          position: relative;
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            top: 12px;
            left: 30px;
            border: 2px solid #999;
            background-color: #fcfcfc;
            border-radius: 50%;
          }
        }
        i {
          font-size: 20px;
          color: #f3ac34;
          margin-right: 10px;
        }
        &-bottom {
          color: #707070;
          font-weight: bolder;
          margin-left: 30px;
          margin-bottom: 10px;
        }
        &-system {
          font-size: 20px;
        }
        &-color {
          color: #f3ac34;
          margin-left: 30px;
          display: flex;
          align-items: center;
          span {
            font-weight: bolder;
          }
          i {
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      a {
        color: #999;
        &:hover {
          color: #f3ac34;
        }
      }
      &-telegram {
        width: 60px;
        height: 100%;
        display: block;
        color: #999;
        &:hover {
          color: #f3ac34;
        }
      }
    }
    &-retweet {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
    }
    &-sign {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      color: #707070;
      &-left {
        width: 50%;
        background: rgba(255, 255, 255, 0.39);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        display: flex;
        align-items: center;
        &-box {
          padding: 10px 20px;
          margin: 20px;
          border: 1px solid #e9ae4c;
          opacity: 1;
          border-radius: 4px;
          cursor: pointer;
          color: #f3ac34;
        }
      }
      &-right {
        background: rgba(255, 255, 255, 0.39);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        & > * {
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30%;
        }
        &-time {
          color: #f3ac34;
          letter-spacing: 3px;
          font-weight: bolder;
          font-size: 20px;
        }
      }
    }
  }
  &-retweet {
    width: 100%;
    .el-tabs {
      width: 100%;
      overflow: hidden;
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
    &-text {
      color: #999;
      padding-left: 10px;
      position: relative;
      height: 25px;
      margin: 20px 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 3px;
        height: 20px;
        background: #f3ac34;
      }
    }
    .el-tabs__nav-wrap::after {
      display: none;
    }
    .el-tabs__item {
      font-size: 20px;
      font-weight: 500;
      &:hover {
        color: #f3ac34;
      }
    }
    .el-tabs__item.is-active {
      color: #f3ac34;
    }
    .el-tabs__active-bar {
      background-color: #f3ac34;
    }
  }
  &-rules {
    .title-h6 {
      font-size: 20px;
      font-weight: 500;
    }
    &-box {
      margin-bottom: 30px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
    p {
      margin-bottom: 10px;
    }
    strong {
      color: #f3ac34;
    }
    a {
      color: #4c96e3;
    }
    &-img {
      margin-bottom: 30px;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      background-color: rgba($color: #e9ae4c, $alpha: 0.4);
      // box-shadow: 0px 0.5px 20px rgba($color: #e9ae4c, $alpha: 0.4);
      color: #999;
      padding: 10px 20px;
      border-radius: 20px;
      &-item {
        width: 23%;
        display: flex;
        &-big {
          font-size: 50px;
          font-weight: bolder;
          margin-right: 10px;
        }
        p {
          margin-bottom: 0px;
          font-size: 14px;
          line-height: 1.5em;
          &:first-child {
            font-size: 18px;
            font-weight: bolder;
            margin-top: 10px;
          }
        }
      }
    }
    &-table {
      color: #707070;
      font-size: 18px;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
      border-collapse: separate;
      width: 100%;
      border-radius: 8px;
      table-layout: fixed;
      word-wrap: break-word;
      &-header {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
      }
      &-reward {
        width: 50%;
        vertical-align: middle;
      }
      tr {
        th {
          padding: 10px;
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
        &:nth-child(odd) {
          td {
            background-color: #fff;
          }
        }
        td {
          padding: 10px;
          text-align: center;
          &:last-child {
            text-align: right;
          }
          &:first-child {
            text-align: left;
          }
        }
        & {
          td:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          td:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }
  &-table {
    color: #707070;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    border-collapse: separate;
    border-left: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    width: 50%;
    border-radius: 8px;
    tr {
      td {
        border-bottom: 1px solid #b4b4b4;
        border-right: 1px solid #b4b4b4;
        text-align: center;
        vertical-align: middle;
      }
      &:first-child {
        td:last-child {
          border-top-right-radius: 8px;
        }
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }
        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
  &-receive {
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
    &-text {
      color: #707070;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }
    &-data {
      color: #37383c;
      font-weight: bold;
      position: relative;
      padding-left: 10px;
      font-size: 16px;
      height: 25px;
      margin-bottom: 20px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f3ac34;
        width: 3px;
        height: 100%;
      }
    }
    .personal-redeem {
      margin-top: 30px;
    }
  }
  &-github {
    &-box {
      background: url("../images/login/github-event.png") no-repeat center;
      background-size: 100% 100%;
      height: 50vh;
      border-radius: 30px;
      display: flex;
      align-items: center;
      &-content {
        margin-left: 5%;
      }
      &-link {
        width: 330px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        &-btn {
          color: #000;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
          cursor: pointer;
          display: flex;
          line-height: 1.3em;
          align-items: center;
          i {
            font-size: 20px;
          }
          span {
            margin: 0 10px;
          }
          &-box {
            margin-top: 20px;
          }
        }
        &-text {
          color: #707070;
          text-align: center;
          white-space: pre-line;
        }
        &-git {
          background-color: #fff;
          color: #000;
          font-size: 14px;
          padding: 3px 5px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          i {
            font-size: 16px;
          }
          span {
            margin-left: 5px;
            font-weight: 500;
          }
        }
        &-fork {
          margin-left: auto;
        }
      }
      &-email {
        width: 50px;
        height: 50px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        color: #f3ac34;
        font-weight: bolder;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
    &-discuss {
      margin: 20px 0 30px 0;
      font-size: 20px;
      color: #707070;
      font-weight: bolder;
    }
  }
  &-commits {
    .develop-bugs-left-box {
      border-right: none;
    }
    .develop-bugs-item {
      padding: 20px;
    }
  }
  &-dialog {
    color: #707070;
    width: 100%;
    .el-dialog__footer {
      text-align: center;
    }
    .btn {
      min-width: 150px;
      padding: 10px;
    }
    .btn-primary {
      background: #f3ac34;
      color: #fff;
      border: none;
      &:hover {
        color: #fff !important;
        background: #f3ac34 !important;
      }
    }
    .el-button.is-disabled,
    .el-button.is-disabled:focus,
    .el-button.is-disabled:hover {
      color: #c0c4cc !important;
      background-color: #f5ecdc !important;
    }
    &-content {
      .el-input {
        width: calc(100% - 160px);
      }
      .el-input__inner {
        border: none;
      }
      .btn {
        margin-left: auto;
      }
      .el-form-item {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
      .el-form-item__error {
        top: 55px;
      }
    }
    &-title {
      color: #707070;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconfont {
        color: #f3ac34;
        font-size: 25px;
        margin-right: 10px;
      }
    }
    &-bind {
      text-align: center;
      &-email {
        color: #f3ac34;
        font-size: 18px;
      }
    }
  }
}
